* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #d3eefe;
}

h1 {
  font-family: "Poppins";
  color: #43515c;
  font-size: 70px;
  font-weight: lighter;
  letter-spacing: -5px;
  padding: 50px 0px 0px 0px;
  z-index: 999;
}

p {
  font-family: "Poppins";
  color: #43515c;
  font-size: 24px;
  font-weight: 100;
  z-index: 999;
}

.first-section {
  width: 100%;
  height: 150vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.first-section .images-wrapper {
  position: absolute;
}

.ingredient-images {
  position: absolute;
  width: 400px;
  left: calc(50% - 400px);
  height: 530px;
  top: 420px;
}

.section_1_01 {
  position: absolute;
  top: 10px;
  right: 10px;
}

.section_1_02 {
  position: absolute;
  top: 80px;
  right: 130px;
}

.section_1_03 {
  position: absolute;
  top: 100px;
  right: 10px;
}

.section_1_04 {
  position: absolute;
  top: 200px;
  right: 120px;
}

.section_1_05 {
  position: absolute;
  top: 225px;
  right: 150px;
}

.section_1_06 {
  position: absolute;
  top: 170px;
  right: 210px;
}

.section_1_07 {
  position: absolute;
  top: 250px;
  right: 10px;
}

.section_1_08 {
  position: absolute;
  top: 320px;
  right: 110px;
}

.section_1_09 {
  position: absolute;
  top: 370px;
  right: 10px;
}

.second-section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.second-section .images-wrapper {
  position: absolute;
  display: flex;
  padding: 200px 0;
  top: 20%;
  overflow: hidden;
}

.image-container {
  overflow: hidden;
  height: 100%;
}

.third-section {
  width: 100%;
  height: 150vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.third-section .images-wrapper {
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.third-section .images-wrapper img {
  position: absolute;
}

.forth-section {
  width: 100%;
  height: 150vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.forth-section .images-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forth-section .images-wrapper img {
  position: absolute;
}
